.user_info {
  width: 100%;
  height: 100px;

  color: white;

  display: flex;
  align-items: center;

  margin-left: 20px;

  .avatar {
    min-width: 70px;
    height: 70px;

    background-color: #525252;

    font-size: 200%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .username {
    font-size: 200%;

    margin-left: 20px;
  }
}
